1. The database shall store cold case data.
2. The system shall allow the admin to insert and delete data from the database.
3. The system shall compare cold case data with new dna samples.
4. The system shall assign a number value to each dna sample.
5. The website shall represent data from the database with graphs.

Just need to add some front end reqs