<!DOCTYPE html>
<html lang = "en">
<head>
  <meta charset = "utf-8">
  <link rel="stylesheet" href="../css/index.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap" rel="stylesheet">
  <title> Cold Case Data </title>
</head>
<body>
  <header>
    <nav id = "nav">
        <ul>
            <li><a href="../index.html" id= "homepg"> Home </a></li>
            <li><a href = "page-one.html"> Cold Cases </a></li>
            <li><a href = "page-two.html"> Reach </a></li>
        </ul>
  </header>

<p> Paragraph One </p>

</body>
<footer>Email: something@gmail.com <br> Customer Service: (303)696-7201
</footer>
</html>
