Front End/Visualization:
1. The website shall represent statistics from the database with graphs. - Jake
2. The website shall have an explorable graphical databases that visualizes connections in data - Will and Jake

Database:
3. The database shall store cold case data. - Fletcher
4. The system shall allow the admin to insert and delete data from the database. - Fletcher and Megan

Data Manipulation:
5. The system shall compare cold case data with new dna samples and flag any notable new details. - Will
6. The system shall self-generate a metric for storing data and measuring notability of new data - Will

